/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap"); */
@font-face {
  font-family: "Satoshi-bold";
  src: url("/Satoshi-Bold.ttf") format("woff2");
  /* Add additional src declarations for other font formats if needed */
  font-family: "Satoshi-regular";
  src: url("/Satoshi-Regular.ttf") format("woff2");
  font-family: "Inter-medium";
  src: url("/Inter-Medium.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Work Sans", sans-serif; */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 620px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  background: #0d082c;
}

.header {
  /* background: linear-gradient(
    to right,
    #6f29f2,
    #13c6ff,
    #b94dfb,
    #ff53ae,
    #f3b960
  ); */
  /* padding-bottom: 10px; */
  background: #0029ff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  gap: 5px;
}

.main_container {
  border: 1px solid grey;
  border-radius: 5px;
  width: 80vw;
  height: 75vh;
  position: relative;
  margin-top: 10px;
}

.container {
  display: flex;
  gap: 1rem;
}

h1 {
  /* margin-top: 1rem; */
  font-weight: 600;
  /* text-align: center; */
  color: white;
  /* margin-left: 50px; */
}

.input_container {
  border: 1px solid grey;
  height: fit-content;
  z-index: 999;
  position: absolute;
  bottom: -3.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin: 0 5px; */
  /* color: black; */
  border-radius: 5px;

  width: 100%;
  background: white !important;
  padding: 3.8px 5px;
}

.input-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

input {
  border: none;
  outline: none;
  padding: 12px 8px;
  /* background: #81c5fd; */
  background: white !important;

  color: grey;
  border-radius: 10px;
  width: 100%;
}

.send_button {
  color: #81c5fd;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5px;
}

.top_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Inter-medium", sans-serif;
}

button {
  color: black;
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  padding: 8px 20px;
  text-align: center;
  transition: all 0.3s;
}

button:hover {
  background: #000;
}

.btn-style {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.mic,
.mic-off,
.reset {
  font-size: 1.5rem;
  cursor: pointer;
}

.mic {
  color: blueviolet;
}

.mic-off {
  color: red;
}

.reset {
  color: green;
}

.background {
  background-color: white;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.cs-message__html-content {
  color: white !important;
}

.cs-message__content {
  background: #0029FF !important;
  margin-bottom: 1rem !important;
  max-width: 45vw !important;
}

.cs-message--incoming {
  .cs-message__content {
    background-color: #0029ff !important;
    color: white !important;
    font-size: 16px !important;
  }
}
.cs-message--outgoing {
  .cs-message__content {
    background-color: #938b8b !important;

    font-size: 14px !important;
  }
}

.cs-main-container {
  border: none !important;
  outline: none !important;
  border-radius: 5px;
}

.cs-chat-container {
  background: white !important;
}

.cs-message-list {
  background: white !important;
}

.cs-typing-indicator {
  background: transparent !important;
  width: fit-content !important;
}

@media (max-width: 800px) {
  .cs-message__content {
    max-width: 60vw !important;
  }
}

@media (max-width: 580px) {
  .container {
    flex-direction: column;
    gap: 4px;
  }

  .btn-style {
    flex-direction: row;
  }

  .main_container {
    width: 100vw;
  }

  .cs-message__content {
    max-width: 80vw !important;
  }
}
/* .above {
  background-color: white;
} */
.medha-heading {
  margin-top: 18px;
}
.header-first h6 {
  color: white;
  font-size: 50px;
  font-family: "Satoshi-bold", sans-serif;
}
.header-first {
  color: white;
  text-align: center;
}
.header-first p {
  color: white;
  font-size: 14px;
  font-family: "Satoshi-regular", sans-serif;
  font-weight: lighter;
}
.learn {
  border-radius: 30px;
  font-family: "Inter-medium", sans-serif;
  width: 120px;
  height: 38px;
  font-size: 16px;
  border: solid black 0px;
}
.teach {
  border-radius: 30px;
  font-family: "Inter-medium", sans-serif;
  width: 120px;
  height: 38px;
  font-size: 16px;
  border: solid black 0px;
}
.header-second {
  display: flex;
  justify-content: space-between;
  margin: 5px 40px;
  /* margin: 5px 80px; */
}
.bot-img {
  background-color: #7879f1;
  border-radius: 100%;
  width: 94px;
  height: 85px;
}
.bot-medha {
  display: flex;
    /* justify-content: space-around; */
    gap: 8px;
}
.img-robot {
  margin: 20px 6px;
}
